.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93vh;
  position: relative;
}

.contact h2 {
  font-size: 24px;
  color: white;
  border-bottom: 4px solid rgb(219 39 119);
  margin-top: 1rem;
}

.manual__email > a {
  color: rgb(219 39 119);
  font-size: 1.2rem;
  text-decoration: none;
}

.manual__email {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: white;
}

.contact__desc {
  line-height: 1.6;
  color: #555;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  width: 70%;
}

.contact__screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  margin-top: -8rem;
}

/* Contact box styling */
.contact__box {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly transparent background */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 40vw;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact__box:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }

/* Form styling */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.contact__form label {
  font-size: 16px;
  color: #333;
  text-align: left;
}

.contact__form input,
.contact__form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.contact__form textarea {
  height: 100px;
  resize: vertical;
}

.contact__form .send__mail {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2c2e48;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.contact__form .send__mail:hover {
  background-color: #3a3d5a;
}

.lottie {
  width: 200px;
  margin-left: 4rem;
}

.last__message{
    margin-top: -8rem;
    font-size: 2rem;
    color: white;
    font-style: oblique;
}

.last__message span{
    color: rgb(219 39 119);
}


@media(max-width:1200px){
    .contact__box{
        width: 60vw;
    }
    .contact__screen{
        margin-top: 0;
      }
      .last__message{
        position: absolute;
        bottom: 27%;
        right: 50%;
        font-size: 2rem;
      }
    
}

@media(max-width: 992px){
    .contact__box{
        width: 70vw;
    }
    .manual__email {
        font-size: 1rem;
      }
      .contact__screen{
        margin-top: 0;
      }
      .last__message{
        position: absolute;
        bottom: 27%;
        right: 50%;
        font-size: 1.8rem;
      }
}


@media (max-width: 768px) {
  .contact__box {
    width: 80vw;
  }
  .manual__email{
    font-size: 1.2rem;
  }
  .last__message{
    position: absolute;
    bottom: 27%;
    right: 50%;
    font-size: 2rem;
  }
}

@media(max-width: 512px) {
    .contact__box {
        width: 90vw;
      }
      .manual__email {
        font-size: 0.9rem;
      }

      .last__message{
        position: absolute;
        bottom: 27%;
        right: 45%;
        font-size: 1.5rem;
      }


}
