
.home__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; 
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9); 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}

.hero__section {
    text-align: center;
}

.hero__section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.hero__section h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.hero__section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.hero__section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Styling for buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: .4rem;
}

.btn-github {
    background-color: #111;
}

.btn-github:hover {
    background-color: #333;
}

.btn-linkedin {
    background-color: #0077b5;
}

.btn-linkedin:hover {
    background-color: #005582;
}
