.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93vh;
}

.skills__container > h2 {
  font-size: 24px;
  color: white;
  border-bottom: 4px solid rgb(219 39 119);
  margin-top: 1rem;
}


.skills {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center;  
    padding: 20px;
    margin-top: -4rem;
  }

  .skills__center{
    display: flex;
    align-items: center;
    min-height: 100vh;
  }


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 200px;
  height: 140px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: white;
  color: #111;
}

.card svg {
  margin-bottom: 5px;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }
  svg:hover {
    transform: rotate(360deg);
  }

@media (max-width: 768px) {
  .centered-box p {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
  }

  .skills{
    margin-top: 0;
    grid-template-columns: repeat(2,1fr);
  }

  .card{
    width: 180px;
    height: 120px;
  }

}

@media(max-width: 576px){
    .card{
        width: 140px;
        height: 100px;
      }
      .skills{
        margin-top: 0;
      }
}
