* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: #232741;
}

html,
body {
  height: 100%;
  font-family: sans-serif, Arial;
}

.screen {
  display: flex;
  justify-content: center;
}

.pages {
  position: relative;
  width: 90%;
}
