.nav {
    padding: 1rem;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    position: relative;
}
.nav__btns {
    display: flex;
    gap: 2rem;
}
.links {
    text-decoration: none;
    color: rgb(203, 193, 193);
}
.links:hover {
    color: rgb(203, 193, 193);
    text-decoration: underline;
}
.active {
    color: #ffffff;
}
img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 768px) {
    .nav__btns {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 100%;
        right: -3px;
        top: -5px;
        background-color: #111;
        width: 30%;
        border-radius: .4rem;
    }


    .nav__btns.open {
        display: flex;
        padding: 1.4rem;
        margin-top: .4rem;
        border: 1px solid gray;
    }
    .burger {
        display: flex;
    }
}
